{{ 'awards.css' | asset_url | stylesheet_tag }}

<div class="awards" style="--background: {{section.settings.backgroundColor}}">
  <div class="container awards__container" style="--justify-content: {{section.settings.justifyContent}}">
    {%- for block in section.blocks -%}
      <div class="awards__image">
        {%- if block.settings.image != blank -%}
          {{ block.settings.image | image_url: width: 270 | image_tag: widths: '200, 300, 400', sizes: '(min-width: 768px) 270px, 100vw' }}
        {%- else -%}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}
      </div>
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Awards",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "color",
      "id": "backgroundColor",
      "label": "Background color",
      "default": "#F7F7F7"
    },
    {
      "type": "select",
      "id": "justifyContent",
      "options": [
        {
          "value": "start",
          "label": "Start"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "space-between",
          "label": "Space-between"
        },
        {
          "value": "space-around",
          "label": "Space-around"
        },
        {
          "value": "space-evenly",
          "label": "space-evenly"
        },
        {
          "value": "end",
          "label": "End"
        }
      ],
      "default": "center",
      "label": "Align Content"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Awards",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}