{{ 'camera-size.css' | asset_url | stylesheet_tag }}

{%- style -%}

{%- endstyle -%}

<div class="camera-size p-component">
  <div class="container camera-size__container">
    <div class="camera-size__label label">{{ section.settings.label }}</div>
    <div class="camera-size__title title">{{ section.settings.title }}</div>
    <div class="camera-size__image">
      {%- if section.settings.image != blank -%}
        {{ section.settings.image | image_url: width: 1030 | image_tag: widths: '375, 550, 750, 1100, 1440, 1780, 2000, 3000, 3840', sizes: '100%' }}
      {%- else -%}
        {{ 'hero-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
      {%- endif -%}
      {% comment %}<img src="{{ section.settings.image | image_url }}" alt=""/>{% endcomment %}
    </div>

  </div>
</div>

{% schema %}
{
  "name": "CameraSize",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "default": "Lorem ipsum",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "label",
      "default": "SMALL, LIGHT AND CONVENEINT",
      "label": "Label"
    }
  ],
  "presets": [
    {
      "name": "Camera Size"
    }
  ]
}
{% endschema %}